*.txt filter=lfs diff=lfs merge=lfs -text
*.xlsx filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.svg filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.DS_Store filter=lfs diff=lfs merge=lfs -text
*.iml filter=lfs diff=lfs merge=lfs -text
*.xml filter=lfs diff=lfs merge=lfs -text
/COS30019/AI[[:space:]]assignment[[:space:]]2/code[[:space:]]folder/code2/iengine-main/iengine-main/LICENSE filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.docx filter=lfs diff=lfs merge=lfs -text
*.py filter=lfs diff=lfs merge=lfs -text
*.pyc filter=lfs diff=lfs merge=lfs -text
*.toc filter=lfs diff=lfs merge=lfs -text
*.pyz filter=lfs diff=lfs merge=lfs -text
*.manifest filter=lfs diff=lfs merge=lfs -text
*.pkg filter=lfs diff=lfs merge=lfs -text
*.html filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
*.g4 filter=lfs diff=lfs merge=lfs -text
*.spec filter=lfs diff=lfs merge=lfs -text
*.interp filter=lfs diff=lfs merge=lfs -text
*.tokens filter=lfs diff=lfs merge=lfs -text
*.pyproj filter=lfs diff=lfs merge=lfs -text
*.sln filter=lfs diff=lfs merge=lfs -text
*.test filter=lfs diff=lfs merge=lfs -text
/COS30019/AI[[:space:]]assignment[[:space:]]2/code[[:space:]]folder/code3/iengine-main/iengine-main/LICENSE filter=lfs diff=lfs merge=lfs -text
/COS30019/AI[[:space:]]assignment[[:space:]]2/code[[:space:]]folder/iengine-main/iengine-main/LICENSE filter=lfs diff=lfs merge=lfs -text
*.tmp filter=lfs diff=lfs merge=lfs -text
*.lnk filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.classpath filter=lfs diff=lfs merge=lfs -text
*.project filter=lfs diff=lfs merge=lfs -text
*.prefs filter=lfs diff=lfs merge=lfs -text
*.class filter=lfs diff=lfs merge=lfs -text
*.bat filter=lfs diff=lfs merge=lfs -text
*.java filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.pdb filter=lfs diff=lfs merge=lfs -text
*.drawio filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.config filter=lfs diff=lfs merge=lfs -text
*.ctxt filter=lfs diff=lfs merge=lfs -text
*.TXT filter=lfs diff=lfs merge=lfs -text
*.bluej filter=lfs diff=lfs merge=lfs -text
/COS30019/week2[[:space:]]stuff/Week[[:space:]]2[[:space:]]Programming[[:space:]]Solution_Java/Tutorial[[:space:]]2[[:space:]]Program/floormap filter=lfs diff=lfs merge=lfs -text
/LICENSE filter=lfs diff=lfs merge=lfs -text
/TNE30009/case[[:space:]]study/full[[:space:]]reference[[:space:]]list[[:space:]]for[[:space:]]case[[:space:]]study---almost[[:space:]]50[[:space:]]of[[:space:]]them filter=lfs diff=lfs merge=lfs -text
*.m filter=lfs diff=lfs merge=lfs -text
*.PNG filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
/gitattributes filter=lfs diff=lfs merge=lfs -text
